/* Styles go here */

.cell-span-darkgrey {
    background: #bbb;
}

.cell-span-grey {
    background: #ccc;
}

.center-button {
    display: flex;
    align-items: center;
    justify-content: center;
}