// Customize the look and feel of the grid with Sass variables
// Up-to-date list of variables is available here: http://www.ag-grid.com/javascript-grid-styling/#customizing-sass-variables

// // Fonts from https://fontawesome.com/

// $icons-path: "~ag-grid-community/src/styles/ag-theme-balham/icons/";
$icons-path: "./icons/";
$active: goldenrod;
$icon-color:  lawngreen;
$alt-icon-color: magenta;
$accent-color: cyan;
$icon-size: 14px;

@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss";

// for example purposes, remove margin and padding of the grid and also removing the outline from focused items.
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
    outline: none;
}
