[row-id^="detail_"] .ag-react-container {
    height: 100%
}

.detail-cell-renderer {
    height: 100%;
    padding: 15px;
}

.detail-cell-renderer .btn-wrap {
    height: 30px;
}

.detail-cell-renderer button {
    margin: 0 5px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.detail-cell-renderer>div:nth-of-type(2) {
    height: 85%;
}