.fas {
  font-size: 20px;
}

.fa-cat {
  color: lime;
}

.fa-crow {
  color: cyan;
}

.fa-dog {
  color: orange;
}

.fa-dragon {
  color: purple;
}

.fa-spider {
  color: yellow;
}

.fa-hippo {
  color: red;
}

.fa-horse {
  color: grey;
}