.athlete-cell-renderer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fas.fa-ellipsis-v {
    color: slategray;
    padding: 0 5px;
    cursor: pointer;
}