/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500'); */

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

button {
  margin: 5px !important;
}